section {
  padding: 5rem 0;
}
.customContainer {
  width: 70%;
  margin: 0 auto;
}
.loading {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  font-weight: 100;
}
@media only screen and (max-width: 768px) {
  .customContainer {
    width: 92%;
  }
}
@media only screen and (min-width: 768px) {
  html {
    font-size: 12px;
  }
}
